.notification {
  position: fixed;
  transform: translateY(-30px);
  z-index: 1;

  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle box shadow */
}

.notificationPrimary {
  background-color: rgb(217, 217, 217); /* White with slight opacity */
  color: #333; /* Dark text color */
}

.notificationAdded {
  background-color: rgb(61, 172, 94);
  color: #d9d9d9;
}

.notificationEdited {
  background-color: rgb(32, 157, 179);
  color: #d9d9d9;
}

.notificationDeleted {
  background-color: rgba(255, 0, 0, 0.639);
  color: #d9d9d9;
}
