.customSelect {
    width: max-content;
}

select {
    /* safari */
    /* other styles for aesthetics */
    width: 100%;
    font-size: 18px;
    padding: 0.505em 6em 0.675em 1em;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
}